.getin-touch-section,
.appointment-section,
.login-section,
.succes-section,
.signup-section,
.user-view-section,
.cc-view-section,
.cc-view-appointment-section,
.addpatient-section,
.addclinician-section,
.cl-view-appointment-section {
    display: none;
}
.cl-view-section{
    visibility: hidden;
}
.getin-touch-container,
.appointment-container,
.login-container,
.succes-container,
.signup-container,
.user-view-container,
.cc-view-container,
.cc-view-appointment-container,
.addpatient-container,
.addclinician-container,
.twofa-container,
.cl-view-container,
.cl-view-appointment-container {
    border: 1px solid rgb(255 255 255);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    background-color: #ffffffc4 !important;
}

.form-container {
    padding: 40px;
}

.getin-touch-main,
.appointment-main,
.login-main,
.succes-main,
.signup-main,
.user-view-main,
.cc-view-main,
.cc-view-appointment-main,
.addpatient-main,
.addclinician-main,
.twofa-main,
.cl-view-main,
.cl-view-main,
.cl-view-appointment-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.getin-touch-main form,
.appointment-main form,
.login-main form,
.signup-main form,
.addpatient-main form,
.addclinician-main form {
    margin-bottom: 0px;
}

.login_close,
.getin_touch_close,
.appointment_close,
.user-view_close,
.cc-view_close,
.cc-view_appointment-close,
.addpatient-close,
.addclinician-close,
.twofa_close,
.cl-view_close,
.cl-view_appointment-close {
    position: absolute;
    right: -40px;
    top: -25px;
    background: #ffffff;
    border-radius: 50px;
    padding: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #000000b0;
    cursor: pointer;
}

.login_close:hover,
.getin_touch_close:hover,
.appointment_close:hover,
.user-view_close:hover,
.cc-view_close:hover,
.cc-view_appointment-close:hover,
.addpatient-close:hover,
.addclinician-close:hover,
.twofa_close:hover,
.cl-view_close:hover,
.cl-view_appointment-close {
    color: red;
}
#login, #signup {
    width: 400px;
    height: auto;
}

#getin_touch {
    width: 550px;
    height: auto;
}

.appointment-container {
    width: 60%;
}
.cc-view-container, .cc-view-appointment-container, .cl-view-appointment-container {
    width: 60%;
    padding:60px;
}

#calendar{
    padding:0px 15px;
}
.cl-view-container {
    width: 80%;
    padding:60px;
}
.succes-container{
    width: 50%;
    padding: 60px;
}
.user-view-container{
    width: 70%;
    padding: 60px;
}
.dropdown-content li>a,
.dropdown-content li>span {
    color: #f70776 !important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #f70776 !important;
}

.file-field .btn:hover {
    background-color: unset;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #f70776 !important;
    box-shadow: 0 1px 0 0 #f70776 !important;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #f70776 !important;
}
.btn:focus, 
.btn-large:focus, 
.btn-small:focus, 
.btn-floating:focus {
    background-color: #f70776;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {

    border-bottom: 1px solid #818181 !important;
}

.input-field label {
    color: #818181 !important;
}

.bg-white nav {
    color: unset;
    background-color: unset;
    width: unset;
    height: unset;
    line-height: unset;
    box-shadow: unset;
}
.fileupload-txt {
    display: flex;
    align-items: center;
}

.form-container .text-brand-500 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.succes-icon{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.succes-icon svg{
    width:100px;
    height:100px;
    fill:#008000;
}
.succes-container h3{
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    padding: 10px 0px;
}

.succes-container h3 span{
     color:#f70776;
     font-size: 28px;
}
.signup-link{
    margin-top: 25px;
}
.submit-bascisinfo{
    margin-left:20px;
}
.username-info{
    align-items: center;
    display: flex;
    font-size: 14px;
}
.username-info i{
    padding-right: 5px;
}
.new-appointment{
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top:20px;
  justify-content: end;
}
.new-appointment h3 {
  padding-right: 10px;
}
.upcoming-appointment{
  border: solid 1px #ff85a3;
  border-radius: 5px;
  padding: 40px 20px;
}
.upcoming-appointment h3{
  font-size: 20px;
  padding-bottom:10px
}
.upcoming-appointment h3 span{
  color:#f70776;
}
.join-appointment-btn{
  margin-top:20px;
  display: flex;
  justify-content: center;
}
.upcoming-appointment-list{
  border: solid 1px #c3c3c3;
  border-radius: 5px;
  padding: 20px 20px;
  margin-top: 20px;
}
.upcoming-appointment-list h3{
  font-size: 14px;
  padding-bottom:10px
}
.appointment-date{
  font-size: 12px;
  font-weight:300;
}
.appointment-clinician{
  font-size: 12px;
}
.mb-0{
  margin-bottom: 0px;
}
.tabs{
    background-color: unset;
    margin-bottom: 20px;
}
.view-btn, 
.cl-view-btn, 
.view-btn:hover, 
.cl-view-btn:hover, 
.view-btn:focus, 
.cl-view-btn:focus{
    background-color: #ff4573;
}
.cc-add-patient-bd, 
.cc-add-clinician-bd{
    display: flex;
    justify-content: center;
    text-align: center;
}
.cc-add-patient, .cc-add-clinician{
    border:solid 1px #0000001f;
    padding:20px;
    margin-bottom:30px;
    border-radius:10px;
    width: 100%;
}
.cc-add-patient p, .cc-add-clinician p{
    margin-top:15px;
}
.cc-add-patient .btn-floating, 
.cc-add-clinician .btn-floating,
.cc-add-patient .btn-floating:hover, 
.cc-add-clinician .btn-floating:hover,
.cc-add-patient .btn-floating:focus, 
.cc-add-clinician .btn-floating:focus{
    background-color: #ff4573;
}
.appointment-patient-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.appointment-detail{
    padding:20px 0px;
}
.appointment-patient-detail{
    border-bottom:solid 1px #d0d0d0;
    padding-bottom: 20px;
}
.appointment-userdetails  h3{
    font-size: 25px;
    padding-bottom:5px;
}
.appointment-userdetails h4{
    padding:5px 0px;
}
.appointment-to-detail{
    display: flex;
    margin-top:30px;
}
.appointment-to-detail div{
    width: 50%;
}
.appointmentdetail-darkheading{
    color:#ff4573;
    font-size: 20px;
    padding-bottom: 15px;
}
.appointment-to-detail h4{
    margin-bottom: 20px;
}
.appointment-detail-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}
.file-name{
  display: flex;
  align-items: center;
  gap: 5px;
}
.uploaded-date{
  font-size: 12px;
  padding: 10px 5px;
}